
<div class='container'>
    <h1><strong>Programme pour la semaine:</strong> 1</h1>
    <h2><strong>Séance Numéro:</strong> 2</h2>
    <h2><strong>Thème de l'entrainement :</strong> Initiation </h2>
    <h2><strong>Objéctif :</strong> Faire un engagement avec la balle</h2>
</div>



<div class='container'>
    <h1>Plan de séance </h1>
    <h2>Echauffement </h2>
    <p>temps : 15 min</p>
    <h3><strong>Exercice 1 A :</strong></h3>
    <p>Lancer des balles avec partenaires et rebond suite sans rebonds </p>
    <p>temps : 10 min</p>

    <h3><strong>Exercice 1 B :</strong></h3>
    <p>Lancer des balles avec partenaires et rebond suite sans rebonds </p>
    <p>temps : 10 min</p>
    <h3><strong>Exercice 2 A:</strong></h3>
    <p>Lancer des balles avec partenaires et rebond suite sans rebonds </p>
    <p>temps : 10 min</p>
    <h3><strong>Exercice  2 B:</strong></h3>
    <p>Lancer des balles avec partenaires et rebond suite sans rebonds </p>
    <p>temps : 10 min</p>

    <h3><strong>Exercice de validation A :</strong></h3>
    <p>Lancer des balles avec partenaires et rebond suite sans rebonds </p>
    <p>temps : 10 min</p>
    <h3><strong>RETOUR AU CALME !!!</strong></h3>
</div>